*{
    margin: 0;
    padding: 0;
    
}
.main{
    height: 700px;
    width: 100%;
    background-image:url(/images1/interiorDesign.png);
    background-repeat: no-repeat;
    background-position: cover;
}
.menu{
   
    display: block;
    word-spacing:30px;
    height: 70px;
    
}
.menu ul li{
    
    font-size: 15px;
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
 .menu ul{
    float: right;
    margin-right: 100px;
    margin-top: 30px;
 }
.menu ul li a{
    color: white;
    text-decoration: none;
   
}
.menu ul li a:hover{
    background-color:red;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px black;
}
.logo{
    font-size: 30px;
    color: white;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    float: left;
    display: inline;
    margin-left: 70px;
    margin-top: 30px;
}
.content h1{
    color: white;
    margin-top: 200px;
    margin-left: 350px;
    font-size: 65px;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    position: absolute;
}
.content p{
    color: white;  
    margin-left: 390px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.alpha ul li{
    display: inline;
    color: white;
    margin: 15px;
    
}
.alpha ul{
    margin-top: 30px;
    margin-left: 520px;
}
.alpha ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border: 2px solid rgb(8, 196, 167);
    border-radius:20px 20px 20px 20px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
}
.alpha ul li a:hover{
    background-color:red;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 20px;
    box-shadow: 5px 5px black;
}